In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("data.csv")

In [34]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
age           294 non-null int64
sex           294 non-null int64
cp            294 non-null int64
trestbps      293 non-null float64
chol          271 non-null float64
fbs           294 non-null object
restecg       294 non-null object
thalach       293 non-null float64
exang         294 non-null object
oldpeak       294 non-null float64
slope         294 non-null object
ca            3 non-null object
thal          28 non-null object
num           294 non-null int64
dtypes: float64(4), int64(4), object(6)
memory usage: 32.2+ KB

In [20]:
data['chol'] = pd.to_numeric(data['chol'])

In [25]:
data['trestbps'] = pd.to_numeric(data['trestbps'])

In [29]:
data['thalach'] = pd.to_numeric(data['thalach'])

In [22]:
data.chol.mean()

250.84870848708488

In [17]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130,132.0,0,2,185,0,0.0,?,?,?,0
1,29,1,2,120,243.0,0,0,160,0,0.0,?,?,?,0
2,29,1,2,140,NaN,0,0,170,0,0.0,?,?,?,0
3,30,0,1,170,237.0,0,1,170,0,0.0,?,?,6,0
4,31,0,2,100,219.0,0,1,150,0,0.0,?,?,?,0

In [8]:
data['chol'].replace('?',np.nan, inplace=True)

In [24]:
data['trestbps'].replace('?',np.nan, inplace=True)

In [28]:
data['thalach'].replace('?',np.nan, inplace=True)

In [31]:
data['ca'].replace('?',np.nan, inplace=True)

In [33]:
data['thal'].replace('?',np.nan, inplace=True)